.DS_Store
*.env
__pycache__
.venv
#logs
loghub
bin
out
bundle

.auth
playwright-report
test-results


_local/
src/hostmetrics-sim/
agents/apm/measure.yaml

hostmetrics-sim
k8smetrics-sim

instruqt/bundle
instruqt/track/track_scripts
instruqt/track/track.yml
instruqt/track/01-setup/assignment.md
instruqt/track/assets/script.pdf

target
.vscode
build
.gradle
_archive
node_modules
*.log
_lib
otel-workshop-trading-instruqt
_frontend
obj
*.sln

#pyproject.toml
uv.lock
.python-version

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.env*
install/terraform/.terraform.lock.hcl
install/state/nvidia/.terraform.lock.hcl
install/state/nvidia/terraform.tfstate
install/state/nvidia/terraform.tfstate.backup
install/state/nvidia/terraform.tfvars
.claude/settings.json
